@import url("https://use.typekit.net/oto6qpu.css");

:root {
  --gradient: linear-gradient(70deg, #fff1d8, rgb(255, 224, 224), #fff1d8);
  --text-gradient: linear-gradient(70deg, #f48b78, rgb(129, 35, 138), #f07a65);

}

body {
  font-family: ivypresto-headline, serif;
  font-weight: 200;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  background: rgb(255, 255, 255);
  background-size: 400%;
  background-image: var(--gradient);
  animation: bg-animation 10s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.container {
  margin-inline: auto;
  width: min(75%, 50rem);
  padding-top: 5em;
  padding-bottom: 1em;
}

h1 {
  font-family: ivypresto-headline, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2rem;
  color: #333;

  padding: 0.2rem 0.2rem 1rem 0.2rem;
}

h2 {
  font-family: ivypresto-headline, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 5rem;
  line-height: 5rem;
  color: #333;
  margin: 3rem 3rem 0rem 1rem;
  padding: 2rem 0rem 1rem 0rem;

}

.italic {
  font-family: ivypresto-headline, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 7rem;
  line-height: 7rem;
  color: #333;
  margin: 0rem 0rem 5rem 0rem;
  z-index: 10;

  background-image: var(--text-gradient);
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: bg-animation 10s infinite alternate;
}

p {
  font-family: soleil, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #333;
  margin: 0.1rem;
}

.connect {
  font-family: soleil, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #333;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  
}

a:link {
  text-decoration: underline;
  color:  rgb(129, 35, 138);
  font-weight: 200;
  cursor: pointer;
}

a:focus {
  text-decoration: underline;
  color:  rgb(129, 35, 138);
  font-weight: 200;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  font-weight: 200;
  cursor: pointer;
  color:  rgb(129, 35, 138);
}

a:active {
text-decoration: underline;

  font-weight: 200;
  cursor: pointer;
  color:  rgb(129, 35, 138);
}

a:visited {
  text-decoration: underline;
  font-weight: 200;
  cursor: pointer;
  color:  rgb(129, 35, 138);
}

.link{
  padding-bottom: 1rem;
}


@media all and (max-width: 600px) {
  .container {
    justify-content: start;
    align-items: tart;
    margin-inline: auto;
    padding-top: 0rem;
    width: min(90%, 80rem);
    margin-bottom: 1rem;
  }
  h1 {
    font-family: ivypresto-headline, serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: #333;
    margin: 4rem 0rem 1rem;
  }
h2 {
  font-family: ivypresto-headline, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 5rem;
  line-height: 5rem;
  color: #333;
  margin: 3rem 3rem 0rem 1rem;
  padding: 2rem 0rem 1rem 0rem;

}

.italic {
  font-family: ivypresto-headline, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 5rem;
  line-height: 5rem;
  color: #333;
  margin: 0rem 0rem 5rem 0rem;
  z-index: 10;

  background-image: var(--text-gradient);
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: bg-animation 10s infinite alternate;
}
.connect {
  font-family: soleil, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #333;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;

}
}

@media all and (max-width: 400px) {
.container {
    justify-content: start;
    align-items: tart;
    margin-inline: auto;
    width: min(95%, 90rem);
    margin-bottom: 0rem;
}
    
  h1 {
    font-family: ivypresto-headline, serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: #333;
    margin: 3rem 0rem 1rem;
    padding: 0.2rem 0.2rem 1rem 0.2rem;
  }
 .italic {
    font-family: ivypresto-headline, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 5.3rem;
    line-height: 5.5rem;
    color: #333;

    background-image: var(--text-gradient);
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: bg-animation 10s infinite alternate;
  }
  h2 {
    font-family: ivypresto-headline, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 5rem;
    line-height: 5rem;
    color: #333;
    margin: 1rem 0rem 0rem 0rem;
  
  }
}

@media all and (max-width: 350px) {
.container {
    justify-content: start;
    align-items: tart;
    margin-inline: auto;
    width: min(95%, 90rem);
}
    
  h1 {
    font-family: ivypresto-headline, serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: #333;
    margin: 3rem 0rem 1rem;
    padding: 0.2rem 0.2rem 1rem 0.2rem;
  }
 .italic {
    font-family: ivypresto-headline, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 4.5rem;
    line-height: 5rem;
    color: #333;

    background-image: var(--text-gradient);
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: bg-animation 10s infinite alternate;
  }
  h2 {
    font-family: ivypresto-headline, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 4rem;
    line-height: 4rem;
    color: #333;
    margin: 1rem 0rem 0rem 0rem;
  
  }

  .connect {
  font-family: soleil, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #333;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;

}
}
